{% extends "base.html" %}
{% load magazine_extras %}
{% block content %}

    <section class="page-container">
        <article class="header">
            <h1>Paying by card?</h1>
        </article>
        <article>
            <p>Click <a href="/stripe">here</a> to fill in your card details.</p>
        </article>
    </section>

    <hr>

    <table class="table table-striped subscribe-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Subscribe</th>
            </tr>
        </thead>
        <tbody>
            {% for magazine in magazines %}
                <tr>
                    <td>{{ magazine.name }}</td>
                    <td>{{ magazine.description }}</td>
                    <td>£{{ magazine.price }}</td>
                    <td>{% paypal_form_for magazine user %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}