html {
    background: url(../../media/img/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    opacity: 0.7;
    font-family: "Calibri";
    border: 2px darkred solid;
}

.page {
    display: block;
    margin: auto;
}

.navbar-custom{
    background-color: aliceblue;
    border: 2px darkred solid;
    border-radius: 5px;
    margin-bottom: 5px;
}

.navbar-custom ul li a{
    color: black;
    font-size: 20px;
}
.navbar-custom ul li a:hover{
    background-color: black;
    color: white;
}

.icon-bar {
    background-color: darkred;
}

.banner {
    margin-top:40px;
    padding: 10px;
    background-color: black;
    color: aliceblue;
    border-bottom: 2px darkred solid;
}

a {
    color: darkred;
    font-weight: bold;
}

a:hover{
    color: darkblue;
    text-decoration: none;
}

.page-content {
    padding: 10px 10px 75px 10px;
    background-color: black;
}

.page-button{
    background-color: darkblue;
    border: 2px white solid;
    color: white;
}

.vote-button {
    background-color: aliceblue;
    border: 2px darkred solid;
    color: black;
    margin-top: 5px;
}

.staff-button{
    background-color: darkred;
    border: 2px white solid;
    color: white;
}

.poll-container{
    margin-left: auto;
    margin-right: auto;
}

.footer-content {
    background-color: aliceblue;
    color: black;
    border: 2px darkred solid;
    border-radius: 5px;
    padding: 5px;
}

table {
    text-align: left;
}

.forum {
    border-bottom: 2px darkblue solid;
}

.subject {
    background-color: aliceblue;
    border-radius: 5px;
    border: 3px darkblue solid;
    margin-bottom: 5px;
    color: darkred;
    margin-left: auto;
    margin-right: auto;
}

.forum-table th, td{
    color: darkblue;
    height:30px;
    padding: 10px;
    text-align: center;
}

.thread-table{
    background-color: aliceblue;
    width:100%;
}

.thread-table th{
    padding: 10px;
    border: 3px darkred solid;
    color: darkblue;
}

.thread-table td{
    padding: 10px;
    border: 3px darkblue solid;
    color: darkred;
    text-align: left;
}

.post-table{
    width: 100%;
    background-color: #B71C1C;
    color: aliceblue;
}

.post-table th{
    padding:10px;
    border: 3px darkred solid;
    color: darkblue;
    background-color: aliceblue;
}

.post-table td{
    border: 3px aliceblue solid;
    color: aliceblue;
}

.post-table tr:nth-child(even){
    background-color: #283593;
}

.subscribe-table td{
    color: black;
}

.vote-badge {
    background-color: darkblue;
    color: white;
    font-size: 20px;
    padding: 5px;
    border: 2px white solid;
}

.tracker-comments {
    background-color: white;
    color: black;
    border-bottom: black 2px solid;
    border-radius: 5px;
}

.chart {
    margin-top: 50px;
    margin-bottom:50px;
}

.chart-header {
    text-align: center;
    border-bottom: 2px darkred solid;
}

.chart-wrapper {
    padding-right: 2px;
    padding-top: 2px;
    display: flex;
    justify-content: center;
}

.chart-container {
    border-radius: 10px;
    border: 2px darkred solid;
    background-color: aliceblue;
    color: black;
    opacity: 1;
    height: 350px;
    margin-bottom: 10px;
}

legend {
    color:white;
}

    @media (max-width: 992px) {

            .page {
                display: block;
                margin: auto;
            }

            .icon-bar {
                background-color: darkred;
            }

            .navbar-header {
                float: none;
            }

            .navbar-toggle {
                display: block;
            }

            .navbar-collapse {
                border-top: 1px solid transparent;
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            }

            .navbar-fixed-top {
                top: 0;
                border-width: 0 0 1px;
            }

            .navbar-collapse.collapse {
                display: none !important;
            }

            .navbar-nav > li {
                float: none;
            }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .collapse.in {
                display: block !important;
            }

            .post-table{
                width: 100%;
            }

        }