{% extends 'base.html' %}
{% block content %}
    <section class="tracker-container">
    <h1>Bug: {{ bug.title }}</h1>
    <p>Problem: {{ bug.description }}</p>
        {% if user.is_authenticated %}
        <p><a href="{% url 'bug_comment' bug.id %}" class="btn page-button">Add Comment</a></p>
    {% endif %}
    </section>
    <hr>
    <article>
        {% for comments in bug.comments.all %}
            {% include 'issuetracker/bugs/comments.html' %}
        {% endfor %}
    </article>
{% endblock %}