{% extends 'base.html' %}
{% block content %}
    <section class="container">
        <div class="col-12">
            <h1>Bug Issues</h1>
            <p>Found a bug? Report it here.</p>
            {% if user.is_authenticated %}
            <p><button class="btn btn-primary" onclick="location.href='{% url 'new_bug' %}'">Report Bug!</button></p>
            {% endif %}
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th><strong>Title</strong></th>
                    <th><strong>Description</strong></th>
                    <th><strong>Votes</strong></th>
                    <th><strong>Status</strong></th>
                    <th><strong>Updated</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for bug in bugs %}
                    {% include 'issuetracker/bugs/bug_item.html' %}
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}