{% extends 'base.html' %}
{% block content %}

    <section class="col-lg-9">

        <div class="page-container">

            <h3>Fantasy Elite Ice Hockey League</h3>
            <p>Here's the latest standings of the Fantasy Elite Ice Hockey League, standings are updated on Sundays after
            the weekend games have concluded.</p>
            <ul>
                <li><strong>WP</strong> - Weeks Played</li>
                <li><strong>GWP</strong> - Game Week Points</li>
                <li><strong>TP</strong> - Total Points</li>
            </ul>
        </div>

        <br />

        <div class="league-tableContainer">

            <table class="post-table">

                <tr>
                    <th>Team</th>
                    <th>WP</th>
                    <th>GWP</th>
                    <th>TP</th>
                </tr>

                <tr>
                    <td>Manchester Storm</td>
                    <td>6</td>
                    <td>4</td>
                    <td>5</td>
                </tr>

                <tr>
                    <td>Sheffield Steelers</td>
                    <td>8</td>
                    <td>4</td>
                    <td>4</td>
                </tr>

                <tr>
                    <td>Cardiff Devils</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                </tr>

                <tr>
                    <td>Nottingham Panthers</td>
                    <td>6</td>
                    <td>2</td>
                    <td>4</td>
                </tr>

                <tr>
                    <td>Belfast Giants</td>
                    <td>6</td>
                    <td>3</td>
                    <td>3</td>
                </tr>

                <tr>
                    <td>Coventry Blaze</td>
                    <td>7</td>
                    <td>3</td>
                    <td>3</td>
                </tr>

                <tr>
                    <td>Guildford Flames</td>
                    <td>6</td>
                    <td>1</td>
                    <td>1</td>
                </tr>

                <tr>
                    <td>Milton Keynes Lightning</td>
                    <td>5</td>
                    <td>2</td>
                    <td>2</td>
                </tr>

                <tr>
                    <td>Braehead Clan</td>
                    <td>6</td>
                    <td>2</td>
                    <td>2</td>
                </tr>

                <tr>
                    <td>Fife Flyers</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>

                <tr>
                    <td>Dundee Stars</td>
                    <td>3</td>
                    <td>1</td>
                    <td>1</td>
                </tr>

                <tr>
                    <td>Edinburgh Capitals</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                </tr>

            </table>
        </div>

    </section>

    <div class="col-sm-3 page-container">
    <p>Official EIHL Twitter Feed</p>

        <a class="twitter-timeline" data-lang="en" data-width="300" data-height="600" data-theme="dark"
        href="http://twitter.com/officialEIHL?ref_src=twsrc%5Etfw">Tweets by officialEIHL</a>
        <script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
{% endblock %}