{% extends 'base.html' %}
{% block content %}

    <section class="col-lg-9">

        <div class="page-container">

            <h3>The Elite Ice Hockey League</h3>
            <p>Welcome to our page about the UK Elite Ice Hockey League, here you will find the latest EIHL standings.</p>

        </div>

        <br />

        <div class="league-tableContainer">

            <table class="post-table">

                <tr>
                    <th>Team</th>
                    <th>GP</th>
                    <th>RW</th>
                    <th>W</th>
                    <th>L</th>
                    <th>OTL</th>
                    <th>SOL</th>
                    <th>PTS</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>PIM</th>
                </tr>

                <tr>
                    <td>Manchester Storm</td>
                    <td>6</td>
                    <td>4</td>
                    <td>5</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>10</td>
                    <td>24</td>
                    <td>15</td>
                    <td>196</td>
                </tr>

                <tr>
                    <td>Sheffield Steelers</td>
                    <td>8</td>
                    <td>4</td>
                    <td>4</td>
                    <td>3</td>
                    <td>1</td>
                    <td>0</td>
                    <td>9</td>
                    <td>29</td>
                    <td>22</td>
                    <td>151</td>
                </tr>

                <tr>
                    <td>Cardiff Devils</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>1</td>
                    <td>3</td>
                    <td>0</td>
                    <td>8</td>
                    <td>18</td>
                    <td>10</td>
                    <td>65</td>
                </tr>

                <tr>
                    <td>Nottingham Panthers</td>
                    <td>6</td>
                    <td>2</td>
                    <td>4</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>8</td>
                    <td>19</td>
                    <td>20</td>
                    <td>73</td>
                </tr>

                <tr>
                    <td>Belfast Giants</td>
                    <td>6</td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                    <td>6</td>
                    <td>19</td>
                    <td>18</td>
                    <td>191</td>
                </tr>

                <tr>
                    <td>Coventry Blaze</td>
                    <td>7</td>
                    <td>3</td>
                    <td>3</td>
                    <td>4</td>
                    <td>0</td>
                    <td>0</td>
                    <td>6</td>
                    <td>20</td>
                    <td>17</td>
                    <td>147</td>
                </tr>

                <tr>
                    <td>Guildford Flames</td>
                    <td>6</td>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>1</td>
                    <td>5</td>
                    <td>22</td>
                    <td>30</td>
                    <td>101</td>
                </tr>

                <tr>
                    <td>Milton Keynes Lightning</td>
                    <td>5</td>
                    <td>2</td>
                    <td>2</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                    <td>4</td>
                    <td>15</td>
                    <td>19</td>
                    <td>128</td>
                </tr>

                <tr>
                    <td>Braehead Clan</td>
                    <td>6</td>
                    <td>2</td>
                    <td>2</td>
                    <td>4</td>
                    <td>0</td>
                    <td>0</td>
                    <td>4</td>
                    <td>15</td>
                    <td>24</td>
                    <td>102</td>
                </tr>

                <tr>
                    <td>Fife Flyers</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0</td>
                    <td>21</td>
                </tr>

                <tr>
                    <td>Dundee Stars</td>
                    <td>3</td>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>7</td>
                    <td>13</td>
                    <td>50</td>
                </tr>

                <tr>
                    <td>Edinburgh Capitals</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>3</td>
                    <td>8</td>
                </tr>

            </table>
        </div>

    </section>

    <div class="col-sm-3 page-container">
    <p>Official EIHL Twitter Feed</p>

        <a class="twitter-timeline" data-lang="en" data-width="300" data-height="600" data-theme="dark"
        href="http://twitter.com/officialEIHL?ref_src=twsrc%5Etfw">Tweets by officialEIHL</a>
        <script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
{% endblock %}