{% extends 'base.html' %}
{% block content %}
    <div class="col-lg-9 page-container">

        <h3>The Team GB Program</h3>
        <p>Welcome to our page about Team GB</p>
        <img src="/media/img/gbtable.jpg">

    </div>

    <div class="col-sm-3 page-container">
    <p>Official Ice Hockey UK Feed</p>

        <a class="twitter-timeline"  href="https://twitter.com/hashtag/IceHockeyUK"
           data-widget-id="915129333504757760">#IceHockeyUK Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if
        (!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    </div>
{% endblock %}