{% extends 'base.html' %}
{% block content %}
    <section class="col-lg-9">

        <div class="page-container">

            <h1>The Team GB Program</h1>

            <p>The men's Team GB team won promotion in their last world championships.</p>
            <p>The next tournament takes place in Hungary where Team GB are seeded 6th and face a relegation battle against the hosts
            and Poland.</p>


        </div>

        <br />

        <div class="league-tableContainer">
        <table class="post-table">

            <tr>
                <th>POS</th>
                <th>Team</th>
                <th>GP</th>
                <th>W</th>
                <th>OTW</th>
                <th>L</th>
                <th>OTL</th>
                <th>PTS</th>
                <th>GF</th>
                <th>GA</th>
                <th>GD</th>
            </tr>

            <tr>
                <td>1</td>
                <td>Great Britain</td>
                <td>5</td>
                <td>5</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>15</td>
                <td>32</td>
                <td>5</td>
                <td>27</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Japan</td>
                <td>5</td>
                <td>4</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>12</td>
                <td>22</td>
                <td>11</td>
                <td>11</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Lithuania</td>
                <td>5</td>
                <td>3</td>
                <td>0</td>
                <td>2</td>
                <td>0</td>
                <td>9</td>
                <td>18</td>
                <td>12</td>
                <td>6</td>
            </tr>

            <tr>
                <td>4</td>
                <td>Estonia</td>
                <td>5</td>
                <td>2</td>
                <td>0</td>
                <td>3</td>
                <td>0</td>
                <td>6</td>
                <td>11</td>
                <td>20</td>
                <td>-9</td>
            </tr>

            <tr>
                <td>5</td>
                <td>Croatia</td>
                <td>5</td>
                <td>1</td>
                <td>0</td>
                <td>4</td>
                <td>0</td>
                <td>3</td>
                <td>14</td>
                <td>17</td>
                <td>-3</td>
            </tr>

            <tr>
                <td>6</td>
                <td>Netherlands</td>
                <td>5</td>
                <td>0</td>
                <td>0</td>
                <td>5</td>
                <td>0</td>
                <td>0</td>
                <td>6</td>
                <td>38</td>
                <td>-32</td>
            </tr>

        </table>
        </div>

    </section>

    <div class="col-sm-3 page-container">
    <p>Official Ice Hockey UK Feed</p>

        <a class="twitter-timeline"  href="https://twitter.com/hashtag/IceHockeyUK"
           data-widget-id="915129333504757760">Ice Hockey UK Twitter Feed</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if
        (!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    </div>
{% endblock %}