{% extends 'base.html' %}
{% block content %}
    <section class="page-container">
        <h2>About Us!</h2>
        <p>You're in the right place to learn all about us!</p>
        <p>This site is designed in a way to be the only site you need for UK ice hockey news.</p>
        <p>We also have the ONLY fantasy EIHL league! This has cash prizes for the league winners at the end of the season.
        You can sign up by going <a href="/fantasy">here</a>. You can enter once for free but we ask that you subscribe
        if you would like further entries, for further subscriber perks visit <a href="/subscribe">here</a>.</p>
        <p>We also have our regularly updated blog to keep you up to date with goings on around the league, points updates
            for the fantasy ice hockey league and our weekly match previes.</p>
        <p>If you want to meet other ice hockey fans online we also have a forum for you to join.</p>
        <p>If you find any bugs please follow our <a href="/issues/tracker">issue tracker</a> to see if it's already been
            reported and upvote it, if it hasn't been reported yet then please fill in the form to report it.</p>
        <p>Find something missing from the site? Then request a feature! We aim to please, we pledge that we will spend
            at least 50% of our time on building the most voted for feature. To upvote a feature we therefore request you
            sign up for our monthly subscription.</p>
    </section>
{% endblock %}