{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Ice Hockey Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/subscription.js' %}"></script>
    <script src="{% static 'js/polls.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.css' %}">
    {% block head_js %}{% endblock head_js %}
</head>

<body>
    <section class="page">
        <!--Navigation - Collapses to list when on small screens-->
        <nav class="navbar navbar-fixed-top navbar-custom">
            <section class="container">
                <section class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myCollapsingList">
                        <span class="icon-bar" ></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </section>
                <ul id="myCollapsingList" class="nav nav-justified collapse navbar-collapse">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/fantasy">Fantasy</a></li>
                    <li><a href="/EIHL">Standings</a></li>
                    <li><a href="/forum/">Forum</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/issues/tracker">Issue Tracker</a></li>
                    <li><a href="/contact/">Contact</a></li>
                    <!--Profile and logout only show if user is logged in-->
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                        <!--Subscribe tab is only displayed if user is logged in and not subscribed-->
                        {% if user.is_subscribed %}
                            {% else %}
                            <li><a href="/subscribe/">Subscribe</a></li>
                        {% endif %}
                    <li><a href="{% url 'logout' %}">LogOut</a></li>
                    <!--Register and log in only shown if user isn't signed in-->
                    {% else %}
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </section>
        </nav>
        <!--End of navigation-->

        <article class="banner">
            <!--Displays on each page-->
            <h1>The Ice Hockey Site</h1>
            <p>Your home for all your British Ice Hockey needs!</p>
        </article>

        <section>
            <!--Individual page content loaded here-->
            {% block content %}
            {% endblock %}
        </section>

        <footer class="navbar-fixed-bottom footer-content">
            <!--Social Media links-->
            <p>
                <a href="http://www.facebook.com"><img src="/media/img/facebook.jpeg" alt="facebook page" height="50px" width="50px"></a>
                <a href="http://www.twitter.com"><img src="/media/img/twitter.jpeg" alt="twitter stream" height="50px" width="50px"></a>
                <a href="http://www.instagram.com"><img src="/media/img/instagram.jpg" alt="instagram feed" height="50px" width="50px"></a>
            </p>
        </footer>

    </section>
</body>
</html>