{% extends 'base.html' %}
{% block content %}
    <h2>Fixes</h2>
    <p>These charts shows the status of all requested features and how many I have dealt with.</p>
    <section class="row">
        <article class="col-sm-6 chart-container">
            <header class="chart-header">
                Features status:
            </header>
            <article class="chart-wrapper">
                <article id="FeaturestatusChart" class="chart">
                </article>
            </article>
        </article>

        <article class="col-sm-6 chart-container">
            <header class="chart-header">
                Feature Yearly Fixes:
            </header>
            <article class="chart-wrapper">
                <article id="FeatureyearlyChart" class="chart">
                </article>
            </article>
        </article>
    </section>

    <section class="row">
        <article class="col-sm-6 chart-container">
            <header class="chart-header">
                Bugs status:
            </header>
            <article class="chart-wrapper">
                <article id="BugstatusChart" class="chart">
                </article>
            </article>
        </article>

        <article class="col-sm-6 chart-container">
            <header class="chart-header">
                Bug Yearly Fixes:
            </header>
            <article class="chart-wrapper">
                <article id="BugyearlyChart" class="chart">
                </article>
            </article>
        </article>
    </section>
{% endblock %}