{% extends 'base.html' %}
{% block content %}
    <hr>
    <section>
        <h2>Welcome Hockey Family</h2>
        <p>Welcome to the best ice hockey website you ever did see!</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies egestas posuere.
            Praesent gravida tincidunt sem eu fermentum. Mauris eu ipsum rhoncus, pellentesque ligula eget, ultrices nisl.
            Sed quis augue sapien. Aliquam eu elit ac nisl imperdiet pharetra a id tortor. Nam pretium auctor arcu non ultrices.
            Cras at dictum mi, ut pretium felis. Phasellus egestas ligula ut erat vulputate vestibulum. Aliquam erat volutpat.
            Aliquam erat volutpat. Sed sit amet imperdiet leo. Integer fringilla feugiat metus ut varius.
            Proin sit amet odio faucibus, pharetra lacus eu, euismod urna. Phasellus at diam lacus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies egestas posuere.
            Praesent gravida tincidunt sem eu fermentum. Mauris eu ipsum rhoncus, pellentesque ligula eget, ultrices nisl.
            Sed quis augue sapien. Aliquam eu elit ac nisl imperdiet pharetra a id tortor. Nam pretium auctor arcu non ultrices.
            Cras at dictum mi, ut pretium felis. Phasellus egestas ligula ut erat vulputate vestibulum. Aliquam erat volutpat.
            Aliquam erat volutpat. Sed sit amet imperdiet leo. Integer fringilla feugiat metus ut varius.
            Proin sit amet odio faucibus, pharetra lacus eu, euismod urna. Phasellus at diam lacus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies egestas posuere.
            Praesent gravida tincidunt sem eu fermentum. Mauris eu ipsum rhoncus, pellentesque ligula eget, ultrices nisl.
            Sed quis augue sapien. Aliquam eu elit ac nisl imperdiet pharetra a id tortor. Nam pretium auctor arcu non ultrices.
            Cras at dictum mi, ut pretium felis. Phasellus egestas ligula ut erat vulputate vestibulum. Aliquam erat volutpat.
            Aliquam erat volutpat. Sed sit amet imperdiet leo. Integer fringilla feugiat metus ut varius.
            Proin sit amet odio faucibus, pharetra lacus eu, euismod urna. Phasellus at diam lacus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies egestas posuere.
            Praesent gravida tincidunt sem eu fermentum. Mauris eu ipsum rhoncus, pellentesque ligula eget, ultrices nisl.
            Sed quis augue sapien. Aliquam eu elit ac nisl imperdiet pharetra a id tortor. Nam pretium auctor arcu non ultrices.
            Cras at dictum mi, ut pretium felis. Phasellus egestas ligula ut erat vulputate vestibulum. Aliquam erat volutpat.
            Aliquam erat volutpat. Sed sit amet imperdiet leo. Integer fringilla feugiat metus ut varius.
            Proin sit amet odio faucibus, pharetra lacus eu, euismod urna. Phasellus at diam lacus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies egestas posuere.
            Praesent gravida tincidunt sem eu fermentum. Mauris eu ipsum rhoncus, pellentesque ligula eget, ultrices nisl.
            Sed quis augue sapien. Aliquam eu elit ac nisl imperdiet pharetra a id tortor. Nam pretium auctor arcu non ultrices.
            Cras at dictum mi, ut pretium felis. Phasellus egestas ligula ut erat vulputate vestibulum. Aliquam erat volutpat.
            Aliquam erat volutpat. Sed sit amet imperdiet leo. Integer fringilla feugiat metus ut varius.
            Proin sit amet odio faucibus, pharetra lacus eu, euismod urna. Phasellus at diam lacus.</p>

    </section>
{% endblock %}