{% extends 'base.html' %}
{% block content %}
    <section>
        <h2>Welcome to the best ice hockey website you ever did see!</h2>

        <p>This site aims to be the only place you need to go to find information on British ice hockey. There are many ways
        for you to get involved. Head over to the <a href="/pages/about">about</a> page to find out more!</p>

        <p>You can follow our <a href="/blog">blog</a> to read about what we're up to this week.</p>

        <p>We have a <a href="/forum/">forum</a> for you to get involved in. The forum is split into different sections;
        British ice hockey, World ice hockey and The Bar. Go get yourself involved, you'll need to <a href="{% url 'register' %}">
        register</a> for an account to contribute though.</p>

        <p>We also have our issue tracker for <a href="/bugs/tracker">bugs</a> and <a href="/features/tracker">features</a>.
            If you find a bug or want to request a feature just fill in the form! You will need to <a href="">subscribe</a> to
            upvote on features though.</p>

        <p>Finally, you can track how many bugs and features we are dealing with over on our <a href="/progress">progress</a> page.
        Here you will find charts showing how many are being dealt with on a daily, weekly and monthly basis.</p>

        <p>Have an issue or something to discuss? Head over to the <a href="/pages/contact/">contact</a> page and get in touch.</p>

    </section>
{% endblock %}