{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
    <section class="page-container col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <!--Log in form-->
        <form role="form" method="post" action="{% url 'login' %}">
            <legend>The Ice Hockey Site Log In</legend>
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <!--End of log in form-->
    </section>
{% endblock %}