{% load feature_extras %}
<tbody>
    <tr>
        <td>{{ feature.title }}</td>
        <td>{{ feature.description }}</td>
        <td><button class="btn-primary">{{ feature.votes }}</button>
        {% autoescape off %}
            {% user_vote_button feature user %}
        {% endautoescape %}</td>
        <td>{{ feature.status }}</td>
        <td>{{ feature.updated }}</td>
        <td><button class="btn btn-default" onclick="location.href={{ feature.id }}">View Comments</button></td>
    </tr>
</tbody>