{% block head_js %}
    <script>

    </script>
{% endblock %}
{% load feature_extras %}
<tbody>
    <tr>
        <td><a href="{% url 'feature' %}"><h4>{{ feature.title }}</h4></a></td>
        <td>{{ feature.description }}</td>
        <td><button class="btn-primary">{{ feature.votes }}</button>
        {% autoescape off %}
            {% user_vote_button feature user %}
        {% endautoescape %}</td>
        <td>{{ feature.status }}</td>
        <td>{{ feature.updated }}</td>
    </tr>
</tbody>