{% load feature_extras %}
<tbody>
    <tr>
        <td>{{ feature.title }}</td>
        <td>{{ feature.description }}</td>
        <td style="text-align: center;"><span class="vote-badge">{{ feature | total_votes }}</span>
        {% autoescape off %}
            {% user_vote_button feature user %}
        {% endautoescape %}</td>
        <td>{{ feature.status }}</td>
        <td>{{ feature.updated }}</td>
        <td><button class="btn page-button" onclick="location.href={{ feature.id }}">View Comments</button></td>
    </tr>
</tbody>