{% extends 'base.html' %}
{% load thread_extras %}
{% block content %}
    <section class="forum-container">
        {% for subject in subjects %}
            <div class="row">
                <div class="subject col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <h2><a href="{% url 'threads' subject.id %}">{{ subject.name }}</a></h2>
                    <p>{% autoescape off %}{{ subject.description }}{% endautoescape %}</p>
                    <p>Threads: {{ subject.threads.count }}</p>
                    <p>Posts: {{ subject | get_total_subject_posts }}</p>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}