{% extends 'base.html' %}
{% load thread_extras %}
{% block content %}
    {% for subject in subjects %}
        <section class="subject col-12">
            <h2><a href="{% url 'threads' subject.id %}">{{ subject.name }}</a></h2>
            <p>{% autoescape off %}{{ subject.description }}{% endautoescape %}</p>
            <table class="forum-table" style="align-content: center">
                <tr>
                    <th>Threads</th>
                    <th>Posts</th>
                </tr>
                <tr>
                    <td>{{ subject.threads.count }}</td>
                    <td>{{ subject | get_total_subject_posts }}</td>
                </tr>
            </table>
        </section>
    {% endfor %}
{% endblock %}