{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script>
        tinyMCE.init({mode: 'textareas', theme: 'modern', plugins: 'paste'})
    </script>
{% endblock %}

{% block content %}
    <section class="forum-container">
        <article class="col-12 forum-form">
            <a href="/forum/" class="btn page-button">Back to Forum</a>
            <!--New post form-->
            <form method="post" action="{{ form_action }}">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <article>
                    <button type="submit" class="btn page-button">{{ button_text }}</button>
                </article>
            </form>
            <!--End of new post form-->
        </article>
    </section>
{% endblock %}