{% extends 'base.html' %}
{% load thread_extras %}
{% block content %}
    <section class="row header">
        <h1>{{ subject.name }}</h1>
    </section>
    <section class="col-12">
            <p>{% if user.is_authenticated %}<a href="{% url 'new_thread' subject.id %}" class="btn page-button">New Thread</a>
                {% endif %}
                <a href="/forum/" class="btn page-button">Back to Forum</a>
            </p>

    <table class="thread-table">
        <tr>
            <th>Thread Name</th>
            <th>Posts</th>
        </tr>

        {% for thread in subject.threads.all %}
            {% include 'forum/thread_item.html' %}
        {% endfor %}
    </table>
    </section>
{% endblock %}